version: '3.8'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: LaborantDB
    ports:
      - "5432:5432"
    networks:
      - reportstorage-network

  reportstorage:
    image: reportstorage:0.0.1
    ports:
    - "9090:8080"
    build:
      context: ..
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/LaborantDB
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 12345
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - postgres
    networks:
      - reportstorage-network

networks:
  reportstorage-network:
    driver: bridge
